*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.a1{
	border-bottom: 2px solid #176fbb;
}
.a2{
	overflow: hidden;
}
.a3{
	background-color: #023c4d;
}
.a4{
	border-bottom: 2px solid #fff;
}
.a5{
	width: 1000px;
	margin: auto;
	overflow: hidden;
}
.c1{
	float: left;
	margin-top: 17px;
}
.c2{
	padding-right: 23px;
	margin-top: 10px;
	float: right;
	position: relative;
}
.c3{
	vertical-align: middle;
}
.r2{
	font-size: 18px;
	word-spacing: 20px;
	float: left;
	margin-top: 45px;
	margin-bottom: 5px;
}
.r2 a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	font-weight: bold;
}
.r2 span{
	color: #176fbb;
}
.x1{
	padding-left: 20px;
}
.c4{
	width: 60px;
	height: 20px;
	border: 0;
	border-left: 2px solid #3c3c3c;
	text-align: center;
}
.c5{
	width: 60px;
	height: 20px;
	border: 0;
	border-left: 2px solid #3c3c3c;
	border-right: 2px solid #3c3c3c;
	text-align: center;
}
.c6 img{
    vertical-align: middle;
    margin-top: -5px;
       }
.c7{
	width: 152px;
	height: 26px;
	border:1px solid #3c3c3c;
}
.c9{
	position: absolute;
	top: 0px;
	right: 1px;
}
.c8{
	width: 60px;
	height: 20px;
	border: 0;
	text-align: center;
}
.a6{
	width: 1000px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.a7{
	width: 1000px;
	margin:auto;
	overflow: hidden;
}
.v2,.v3,.v4,.v5{
	float: left;
	margin-left:60px;
	margin-top: 20px;
}
.a7 a{
	color: #fff;
	text-decoration:none;
}
.v6{
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}
.v6 p{
	font-size: 28px;
	padding-right: 100px;
	color: #fff;
}
.v6 span{
	color: #fff;
	font-size: 18px;
}
.v6 input{
	width: 130px;
	height: 25px;
	background-color: #fff;
	border-radius:5px;
	color: #023c4d;
	margin-top: 20px;
}
.v2 p,.v3 p,.v4 p,.v5 p{
	font-size: 18px;
	color: #fff;
}
.v2 a,.v3 a,.v4 a,.v5 a{
	font-size: 14px;
	line-height: 25px;
}
.q1{
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 10px;
}
.a8 a{
	display: block;
	padding: 15px;
	text-decoration: none;
	color:#3c3c3c;
	font-size: 14px;
}
.d3{
	position: absolute;
	top: 102px;
	left: 20px;
}
.a9{
	width:1000px;
	margin-top: 62px;
	overflow: hidden;
}
.a10{
	width: 700px;
	float: left;
	margin-bottom: 20px;
}
.a11{
	width: 270px;
	float: right;
	position: relative;
}
.f1{
	width: 698px;
	height: 490px;
	border: 1px solid #c8c8c8;
}
.f2,.f3,.f4,.f5,.f6{
	width: 698px;
	margin-top: 20px;
	height: 490px;
	border: 1px solid #c8c8c8;
}
.w5{
	color: #6e6e6e;
	font-size: 14px;
	word-spacing: 20px;
	text-align: center;
	margin-top: 30px;
}
.w5 input{
	width: 30px;
	height: 20px;
	border: 0;
	background-color: #6e6e6e;
	color: #fff;
	text-align: center;
}
.w9{
	width: 193px;
	height: 37px;
	opacity: 0.8;
	background-color: #282828;
	position: absolute;
	top: 190px;
	left: 39px;
}
.as{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top:199px;
	left: 53px; 
}
.w10{
	width: 193px;
	height: 37px;
	opacity: 0.8;
	background-color: #282828;
	position: absolute;
	bottom: 108px;
	left: 39px;
}
.as1{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	position: absolute;
	top: 556px;
	left: 90px;
}
.j1,.j2,.j3,.j4,.j5,.j6{
	font-size: 18px;
	margin: 15px;
	color: #3c3c3c;
}
.f1 a,.f2 a,.f3 a,.f4 a,.f5 a,.f6 a{
	text-decoration: none;
}
.p1,.p2,.p3,.p4,.p5,.p6{
	margin-left: 15px;
}
.l1,.l2,.l3,.l4,.l5,.l6{
	width: 293px;
	height: 233px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	float: right;
	margin-right: 25px;
	overflow: hidden;
}
.f1,.f2,.f3,.f4,.f5,.f6{
	position: relative;
	overflow: hidden;
}
.o1,.o2,.o3,.o4,.o5,.o6{
	position: absolute;
	top: 27px;
	right: 34px;
}
.i1,.i2,.i3{
	font-size: 14px;
	color: #3c3c3c;
	margin-top: 20px;
}
.u1,.u2,.u3{
	font-weight: bold;
}
.i4{
	text-decoration: line-through;
	color:  #3c3c3c;
	font-size: 14px;
	margin-top: 30px;
	display: block;
}
.i5{
	font-size: 14px;
	color: #3c3c3c;
	float: left;
}
.u4{
	font-size: 28px;
	color: #d02626;
	font-weight: bolder;
}
.i6{
	width: 105px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background-color: #ffa000;
	float: right;
	border:0;
	margin-top: 10px;
}
.kl img{
	margin-left: 20px;
}
.ka{
	position: absolute;
	top: 41px;
	left: 67px;
	list-style-type:none;
}
.ka a,.ka1 a,.ka2 a,.ka3 a,.ka4 a,.ka5 a{
	text-decoration: none;
	color: #3c3c3c;
}
.ka1{
	position: absolute;
	top: 41px;
	left: 152px;
	list-style-type:none;
}
.ka2{
	position: absolute;
	top: 41px;
	left: 248px;
	list-style-type:none;
}
.ka3{
	position: absolute;
	top: 41px;
	left: 344px;
	list-style-type:none;
}
.ka4{
	position: absolute;
	top: 41px;
	left: 439px;
	list-style-type:none;
}
.ka5{
	position: absolute;
	top: 41px;
	left: 529px;
	list-style-type:none;
}
.kl{
	width: 698px;
	margin-top: 20px;
	position: relative;
}